<p>image-search-form works!</p>


<div class="card my-5">
    <div class="card-body">
  
      <form (ngSubmit)="onSubmit()" #imageSearchForm="ngForm">
  
        <div class="form-group">
          <label for="word">image to search on google</label>
          <input type="text"
                 [(ngModel)]="imageSearch.wordToSearch"
                 class="form-control"
                 id="word"
                 name="wordToSearch"
                 placeholder="Enter the word to search"
                 required #name="ngModel">
        </div>
  
        <div [hidden]="!name.pristine" class="alert alert-danger">a word is required</div>
    
        <button type="submit" [disabled]="!imageSearchForm.form.valid"
                class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>