<div class="card my-5">
  <div class="card-body">

    <table class="table table-bordered table-striped">

      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Word to Translate</th>
          <th scope="col">Translation</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let translation of translations">
          <td>{{ translation.id }}</td>
          <td>{{ translation.wordToTranslate }}</td>
          <td>{{ translation.translatedWord }}</td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
